<div id="slide1">
  <div class="content">
  </div>
</div>


<div id="slide2">
  <div class="content">
    <div class="blurb-container">
    	<h4 class="name-dark">My Services</h4>
      <h3 class="blurb">Specializing in family portraits, sports photography and event photography. My speciality ranges from families, kids, sports, boudoir and many different types of events.</h3>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
    	<h4 class="name-dark"></h4>
      <h3 class="blurb"></h3>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h4 class="name-dark">My Services</h4>
      <h3 class="blurb">Specializing in family portraits, sports photography and event photography. My speciality ranges from families, kids, sports, boudoir and many different types of events.</h3>
    </div>
  </div>
</div>

<div id="slide5">
  <div class="content">
    <div class="blurb-container">
      <h4 class="name-dark"></h4>
      <h3 class="blurb"></h3>
    </div>
  </div>
</div>

<!-- <div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">My Reviews</h3>
      <h4 class="name-dark"></h4>
    </div>
    <div class="panel-container">
      <div class="panel">
        <p>Need a place to set your laptop, connect to the net and get stuff done. Have all the tools you need at your fingertips for the on-demand price of:</p>
        <span class="price">$50/day</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Shared Desks (monthly)</h4>
        <p>Make your stay with us longer term but still cost effective with shared desks. Get the office you need for only:</p>
        <span class="price">$200/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Dedicated Desks (monthly)</h4>
        <p>Do you want a desk space all to yourself but still want the open office setting. Dedicated desks are for you. Reserve a desk for the whole month for only:</p>
        <span class="price">$350/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Private Office (monthly)</h4>
        <p>If you have a team that needs to work together, we recommend our private offices with desks for teams of 4-6 people. Get this dedicated private office for only:</p>
        <span class="price">$750/month</span>
      </div>
      <div class="panel">
        <h4 class="price-type">Boardrooms (on demand)</h4>
        <p>Board room time is included with all membership types but non-members can a book boardroom for just:</p>
        <span class="price">$80/hour</span>
      </div>
    </div>
  </div>
</div> -->