<div id="slide1">
  <div class="content">
  </div>
</div>


<div id="slide2">
  <div class="content">
    <div class="blurb-container">
    	<h4 class="name-dark">My Services</h4>
      <h3 class="blurb">Specializing in family portraits, sports photography and event photography. My speciality ranges from families, kids, sports, boudoir and many different types of events.</h3>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="blurb-container">
    	<h4 class="name-dark"></h4>
      <h3 class="blurb"></h3>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="blurb-container">
      <h4 class="name-dark">Following My Dreams</h4>
      <h3 class="blurb">Being a photographer has always been the dream. I minored in photography in college, interned for some photographers in Tuscaloosa, shot a few weddings for some friends and have taken thousands of pictures over the years. I have been blessed to achieve my dreams and be able to grow as a photographer.</h3>
    </div>
  </div>
</div>

<div id="slide5">
  <div class="content">
    <div class="blurb-container">
      <h4 class="name-dark"></h4>
      <h3 class="blurb"></h3>
    </div>
  </div>
</div>

<div id="slideReview">
  <div class="content">
    <div class="blurb-container">
      <h3 class="blurb">My Reviews</h3>
      <h4 class="name-dark"></h4>
    </div>
      <div class="panel">
        <p>"Not only does Amy take amazing pictures, she knows how to make the photo session fun. She helped my shy 5 year daughter feel completely comfortable during our session. She captured my daughters personality perfectly. Our session resulted in so many beautiful pictures that I will forever treasure."</p>
        <div class="name">- Nikki Talley</div>
      </div>
      <div class="panel">
        <p>"Amy took my daughter's senior pictures last year and I was more than pleased with them. They literally took my breath away. I already knew how talented she was as a photographer, but when I saw the photos I was emotional in the best way possible. Everything from the perfect ray of warm sunlight framing her face, to drawing out Allie's true essence was captured exquisitely. Amy puts her heart and soul into each and every picture and gives it the attention and patience she would if photographing her own family. Her dedication to make your pictures unique and beautiful will have you treasuring each genuine moment she brings to life on film. Last but certainly not least, she pours over your future memories and perfects them so that when you receive the finished product you will be extremely happy you made the right choice. I know I am!"</p>
        <div class="name">- Meg Knackstedt</div>
      </div>
      <div class="panel">
        <p>"Amy has been taking my pictures for school, cheer, and school cheer for the past 2 years. She does an amazing job of capturing every moment and making you laugh at the same time she takes these amazing pictures. Amy knows just about every way to make you look and feel beautiful in all the pictures she takes. I would completely recommend her as a photographer for sports, family, school, and anything else. She also knows exactly how to keep you entertained and laughing during the whole shoot. Thank you Amy for all the amazing pictures and making look and feel pretty, always!"</p>
        <div class="name">- Madison Gorton</div>
      </div>
  </div>
</div>