<%= render 'shared/nav' %>
<br>
<br>
<br>
<br>
<%= render 'shared/top_photo' %>

<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
    </div>
    <div class="panel-container">
    	<h3 class="blurb">Packages and Price Lists</h3>
      <div class="panel">
      	<h4 class="price-type">Cake Smash Session - $100.00</h4>
        <ul>
        	<li>20 minute session</li>
        	<li>5 to 7 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Sports Portraits - $150.00</h4>
        <ul>
        	<li>30 minute session</li>
        	<li>1 uniform (no outfit/uniform changes)</li>
        	<li>10 to 12 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Family Session - $225.00</h4>
        <ul>
        	<li>1 hour session</li>
        	<li>12 to 15 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Senior Session - $250.00</h4>
        <ul>
        	<li>1.5 hour session</li>
        	<li>2 outfit changes</li>
        	<li>12 to 15 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Engagement Session - $300.00</h4>
        <ul>
        	<li>1.5 hour session</li>
        	<li>2 outfit changes</li>
        	<li>12 to 15 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Maternity Session - $300.00</h4>
        <ul>
        	<li>1.5 hour session</li>
        	<li>2 outfit changes</li>
        	<li>12 to 15 digital retouched images</li>
        </ul>
      </div>
      <div class="panel">
      	<h4 class="price-type">Boudoir Session - $300.00</h4>
        <ul>
        	<li>2 hour session</li>
        	<li>2 Locations</li>
        	<li>4 outfit changes</li>
        	<li>12 to 15 digital retouched images</li>
        </ul>
      </div>
       <div class="panel">
      	<h4 class="price-type">Event Photography - $1000.00</h4>
        <ul>
        	<li>Up to 4 hour session</li>
        	<li>Unlimited digital images</li>
        </ul>
      </div>
       <div class="panel">
      	<h4 class="price-type">Additional Prints & Specialty Items</h4>
        <ul>	
        	<li>4 x 6				- $10.00</li>
        	<li>5 x 7				- $15.00</li>
        	<li>8 x 10  		- $20.00</li>
        	<li>Calendars		- $60.00</li>
        	<li>Photo Book	- $150.00</li>
        </ul>
      </div>
    </div>
  </div>
</div> 