<%= render 'shared/nav' %>
<br>
<br>
<br>
<br>
<%= render 'shared/top_photo' %>

<br>
<br>

<h1>Currently Under Construction</h1>
<br>
<br>
<%= link_to "Logout", destroy_user_session_path, method: :delete if signed_in? %>